<div id="instructions">
  <p class="instructions-text">
    Test your knowledge of history with our newspaper-headlines quiz. We'll give you nine headlines with a random word removed. If you type the right word, you win a point.
  </p>
  <p class="instructions-text">
  Have a good trip and we'll see you on the other side.
  </p>

<div class="login-container" ng-controller="LocalStorageController as local">

    <label for="login-input">Enter your name: </label>
		<input type="text" name="login-input" ng-model="local.name">
		<input type="submit" ng-click="local.saveName(e)" ui-sref="setup">

</div>