@font-face {
	font-family: ancient;
	src: url('./font/ancient.ttf');
}

@font-face {
	font-family: cheltenham;
	src: url('./font/cheltenham.ttf');
}

body {
	background-color: #5E626E;
}

.container {
	width: 95%;
	background-color: #EDEFF0;
	border-radius: 3px;
}

#navbar {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0);
	margin-top: 5px;
}

#title-container {
	text-align: center;
}

#title {
	display: inline-block;
	font-family: ancient;
	color: black;
}

#quiz-box {
	min-height: 60%;
}

#scoreboard {
	height: 60%;
}

.top-scores td {
	padding: 2px;
	font-family: arial;
	font-size: 15px; 
}

#headline-answer {
	width: 250px;
	font-family: cheltenham;
	font-size: 50px;
	text-align: center;
}

.year-display,.category-display,.select-year,.select-category,.question-text {
	font-family: cheltenham;
	font-size: 28px;
}

#quiz-box {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	height: 600px;
	margin-top: 5px; 
}

.submit-button {
	font-family: cheltenham;
	font-size: 18px;
}

.instructions-text,.login-container {
	font-family: arial;
>>>>>>> css-Josh
	font-size: 18px;
}

.show-answer-right {
	color: green;
}

.year-display, .category-display {
	margin-left: 10px;
}

.show-answer-wrong {
	color: red;
}

li {
	list-style: none;
}

.current-scores {
	font-family: cheltenham;
	font-size: 28px;
}

.page-header  {
	font-size: 20px;
	float: right;
}

.the-headline {
	font-size: 50px;
	border-bottom: 1px solid gray;
}

#headlineDate{
	font-size: 15px;
	font-style: italic;
	float: right;
}

#loadBar {
	text-align: center;
	margin-top: 240px;
}

.quiz-score {
	font-family: cheltenham;
	font-size: 42px;
}

.try-again {
	font-family: arial;
	font-size: 28px;
}

.score-page {
	margin-top: 70px;
	text-align: center;
}

input[type='text'].ng-pristine {
	width: 60%;
}

select.ng-pristine {
	width: 60%;
}
input[type='text'].ng-pristine {
	width: 60%;
}

.login-label {
	margin-left: 5px;
	font-family: cheltenham;
	font-size: 28px;
	color: black;
	height: 30px;

}

.top-scores {
	font-family: arial;
	font-size: 18px;
	margin-left: -10px;
}

ol {
	margin-left: -10px;
}

::-webkit-input-placeholder {
   color: #A9A9A9;
   font-size: 18px;
   margin-bottom: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A9A9A9;
   font-size: 18px;
   margin-bottom: 5px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A9A9A9;
   font-size: 18px;
   margin-bottom: 5px;  
}

:-ms-input-placeholder {  
   color: #A9A9A9;
   font-size: 18px;
   margin-bottom: 5px;  
}
