@font-face {
	font-family: ancient;
	src: url('./font/ancient.ttf');
}

@font-face {
	font-family: cheltenham;
	src: url('./font/cheltenham.ttf');
}

.container {
	width: 95%;
}

#navbar {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0);
}

#title-container {
	text-align: center;
}

#title {
	display: inline-block;
	font-family: ancient;
	color: black;
}

#quiz-box {
	height: 60%;
}

#scoreboard {
	height: 60%;
}

#headline-answer {
	width: 100px;
	font-family: cheltenham;
	font-size: 28px;
	text-align: center;
}

.year-display,.category-display,.select-year,.select-category {
	font-family: cheltenham;
	font-size: 28px;
}

.question-text {
	font-family: cheltenham;
	font-size: 28px;
}

#quiz-box {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	height: 600px;
	margin-top: 5px; 
}

.instructions-text,.login-container,.submit-button {
	font-family: cheltenham;
	font-size: 18px;
}

.show-answer-right {
	color: green;
}

.show-answer-wrong {
	color: red;
}

li {
	list-style: none;
}

.current-scores {
	font-family: cheltenham;
	font-size: 28px;
}